/* use media queries for responsive design */
/* use media queries for responsive design */
* {
  margin: 0;
  padding: 0;
}


body {
  box-sizing: border-box;
  background-color: hsl(300, 7%, 30%);
  color: white;
;}
/* screen-size < 600px */
@media only screen and (max-width: 600px) {
  .resp-font {
    font-size: 120%;
  }
  .title-entry, .url-entry, .description-entry {
    font-size: 100%;
}
  .center {
  position: relative;
  width: 300px;
  margin: auto;
}
  .submit-form {
    font-size: 150%;
  }
  .submit {
    font-size: 80%;
  }
  select {
    font-size: 80%;
  }
}

input {
  border-radius: 10%;
  margin: 10px;
}

/* screen size > 600px*/

ul {
  list-style-type: none;
}

header {
  margin-top: 20px;
  
}

h1, h2 {
  width: 600px;
  margin: 10px auto;
  padding-left: 45px;
}

.header {
  border: 2px soild white;
}

h1 {
  position: relative;
  left: 90px;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  padding-bottom: 20px;
}

li {
  padding: 10px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

select {
  margin-top: 10px;
}


.teal {
  background-color: hsla(161, 66%, 33%, 0.82);
}

button {
  margin-top: 10px;
  padding: 7px;
  border-radius: 10%;

}

button:hover {
  background-color: orange;
}

.center {
  position: relative;
  width: 500px;
  margin: auto;
}

#js-add-item-form{
  padding: 20px
}

.rating-filter-dropdown {
  padding: 20px;
}


